{
  "openapi": "3.1.0",
  "info": {
    "title": "Tranzor API",
    "description": "API для приёма криптовалютных платежей и ресселинга eSIM. Создавайте инвойсы, продавайте eSIM, отслеживайте статусы.",
    "version": "1.0.0",
    "contact": {
      "name": "Tranzor Support",
      "url": "https://tranzor.io"
    }
  },
  "externalDocs": {
    "description": "Полная документация",
    "url": "https://docs.tranzor.io/"
  },
  "servers": [
    {
      "url": "https://sand.tranzor.io",
      "description": "Sandbox"
    }
  ],
  "security": [
    { "BearerAuth": [] },
    { "HmacAuth": [] }
  ],
  "paths": {
    "/api/v1/invoices": {
      "post": {
        "summary": "Создать инвойс",
        "description": "Создаёт новый платёжный инвойс. Возвращает адреса для оплаты и ссылку на страницу оплаты.",
        "operationId": "createInvoice",
        "tags": ["Invoices"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvoiceRequest"
              },
              "example": {
                "amount": 10.50,
                "currency": "USD",
                "description": "Заказ #1234",
                "orderId": "order-1234",
                "metadata": "{\"userId\": 42}"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Инвойс создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInvoiceResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "get": {
        "summary": "Список инвойсов",
        "description": "Возвращает список инвойсов с пагинацией и фильтрами.",
        "operationId": "listInvoices",
        "tags": ["Invoices"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string", "enum": ["PENDING", "PAID", "EXPIRED", "CANCELLED"] },
            "description": "Фильтр по статусу"
          },
          {
            "name": "orderId",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Поиск по вашему orderId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20, "maximum": 100 },
            "description": "Количество записей"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "default": 0 },
            "description": "Смещение"
          }
        ],
        "responses": {
          "200": {
            "description": "Список инвойсов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInvoicesResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/invoices/{invoiceId}": {
      "get": {
        "summary": "Получить инвойс",
        "description": "Возвращает полную информацию об инвойсе, включая адреса для оплаты и данные о платеже.",
        "operationId": "getInvoice",
        "tags": ["Invoices"],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Данные инвойса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvoiceResponse"
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "summary": "Отменить инвойс",
        "description": "Отменяет PENDING инвойс. Нельзя отменить оплаченный или истёкший инвойс.",
        "operationId": "cancelInvoice",
        "tags": ["Invoices"],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Инвойс отменён",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "invoiceId": { "type": "string" },
                        "status": { "type": "string", "example": "CANCELLED" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/esim": {
      "get": {
        "summary": "Список eSIM тарифов",
        "description": "Возвращает список доступных eSIM тарифов, сгруппированных по странам. Цены указаны в USD.",
        "operationId": "listEsimPlans",
        "tags": ["eSIM"],
        "parameters": [
          { "name": "country", "in": "query", "schema": { "type": "string" }, "description": "Фильтр по ISO2 коду страны (например US, DE, TR)" },
          { "name": "search", "in": "query", "schema": { "type": "string" }, "description": "Поиск по названию страны" }
        ],
        "responses": {
          "200": {
            "description": "Список тарифов",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean" },
                "data": {
                  "type": "object",
                  "properties": {
                    "countries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": { "type": "string", "example": "Германия" },
                          "countryEn": { "type": "string", "example": "Germany" },
                          "countryIso": { "type": "string", "example": "DE" },
                          "flag": { "type": "string", "format": "uri" },
                          "plans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": { "type": "string" },
                                "dataGb": { "type": "string", "example": "5" },
                                "days": { "type": "integer", "example": 30 },
                                "priceUsd": { "type": "number", "example": 12.50 },
                                "operators": { "type": "string" }
                              }
                            }
                          }
                        }
                      }
                    },
                    "totalPlans": { "type": "integer" },
                    "supportedDevices": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }}}
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/esim/order": {
      "post": {
        "summary": "Заказать eSIM",
        "description": "Создаёт заказ eSIM и платёжный инвойс. **eSIM активируется автоматически после оплаты.**\n\nФлоу:\n1. Вызовите POST — получите `payUrl` и адреса для оплаты\n2. Клиент оплачивает инвойс криптовалютой\n3. Система автоматически обнаруживает платёж и активирует eSIM\n4. Проверяйте статус через GET /api/v1/esim/{orderId}\n5. Когда `status` = `active` — QR-код и ICCID доступны в ответе",
        "operationId": "orderEsim",
        "tags": ["eSIM"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": {
            "type": "object",
            "required": ["planId"],
            "properties": {
              "planId": { "type": "string", "description": "ID тарифа из GET /api/v1/esim" },
              "clientEmail": { "type": "string", "format": "email", "description": "Email клиента для уведомлений (опционально)" },
              "clientRef": { "type": "string", "description": "Ваш внутренний ID заказа (опционально, используется как orderId инвойса)" }
            }
          }}}
        },
        "responses": {
          "200": {
            "description": "Заказ создан, ожидает оплаты",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean" },
                "data": {
                  "type": "object",
                  "properties": {
                    "orderId": { "type": "string", "description": "ID заказа eSIM для отслеживания" },
                    "status": { "type": "string", "example": "pending", "description": "pending → provisioning → active" },
                    "invoiceId": { "type": "string", "description": "ID платёжного инвойса" },
                    "payUrl": { "type": "string", "format": "uri", "description": "Ссылка на страницу оплаты для клиента" },
                    "amount": { "type": "number", "example": 12.50 },
                    "currency": { "type": "string", "example": "USD" },
                    "plan": {
                      "type": "object",
                      "properties": {
                        "country": { "type": "string" },
                        "countryIso": { "type": "string" },
                        "dataGb": { "type": "string" },
                        "days": { "type": "integer" }
                      }
                    },
                    "addresses": {
                      "type": "array",
                      "description": "Адреса для оплаты криптовалютой",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chain": { "type": "string", "example": "tron" },
                          "address": { "type": "string" },
                          "expectedAmount": { "type": "string" },
                          "isToken": { "type": "boolean" },
                          "tokenSymbol": { "type": "string", "nullable": true }
                        }
                      }
                    },
                    "expiresAt": { "type": "string", "format": "date-time", "description": "Срок оплаты" },
                    "note": { "type": "string" }
                  }
                }
              }
            }}}
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "get": {
        "summary": "Список заказов eSIM",
        "description": "Возвращает ваши заказы eSIM с пагинацией.",
        "operationId": "listEsimOrders",
        "tags": ["eSIM"],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["pending", "active", "failed"] } }
        ],
        "responses": {
          "200": { "description": "Список заказов" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/esim/{orderId}": {
      "get": {
        "summary": "Детали eSIM заказа",
        "description": "Возвращает детали заказа. Используйте для polling статуса после оплаты.\n\nСтатусы:\n- `pending` — ожидает оплаты инвойса\n- `provisioning` — оплата получена, eSIM создаётся\n- `active` — eSIM активирован, QR-код и ICCID доступны в `esim`\n- `failed` — ошибка активации\n\nКогда `status` = `active`, поле `liveData` содержит актуальные данные об использовании трафика.",
        "operationId": "getEsimOrder",
        "tags": ["eSIM"],
        "parameters": [
          { "name": "orderId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Детали заказа",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean" },
                "data": {
                  "type": "object",
                  "properties": {
                    "orderId": { "type": "string" },
                    "status": { "type": "string", "enum": ["pending", "provisioning", "active", "failed"], "description": "pending=ожидает оплаты, active=eSIM готов" },
                    "plan": { "type": "object", "description": "Детали тарифа: country, dataGb, days, priceUsd" },
                    "esim": {
                      "type": "object",
                      "nullable": true,
                      "description": "Данные eSIM (доступны только когда status=active)",
                      "properties": {
                        "iccid": { "type": "string" },
                        "qrcode": { "type": "string", "description": "LPA activation string" },
                        "qrImage": { "type": "string", "nullable": true, "description": "Base64 QR-код PNG" },
                        "iosTapLink": { "type": "string", "nullable": true, "description": "iOS прямая установка" }
                      }
                    },
                    "liveData": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "dataLeftMb": { "type": "number" },
                        "dataPackageMb": { "type": "number" },
                        "dataUsedMb": { "type": "number" },
                        "expiresAt": { "type": "string", "nullable": true },
                        "statusQr": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }}}
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/store": {
      "get": {
        "summary": "Информация о магазине",
        "description": "Возвращает данные магазина и статистику по инвойсам.",
        "operationId": "getStore",
        "tags": ["Store"],
        "responses": {
          "200": {
            "description": "Данные магазина",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreInfoResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API ключ в формате `trz_...`"
      },
      "HmacAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "HMAC аутентификация. Требуются заголовки:\n- `X-API-Key` — ваш API ключ\n- `X-Timestamp` — текущий unix timestamp (секунды, ±5 мин)\n- `X-Signature` — HMAC-SHA256 подпись\n\nСтрока для подписи: `{timestamp}{METHOD}{path}{body}`\nКлюч подписи: `Secret Key` (выдаётся при создании API ключа)"
      }
    },
    "schemas": {
      "CreateInvoiceRequest": {
        "type": "object",
        "required": ["amount"],
        "properties": {
          "amount": { "type": "number", "minimum": 0.01, "maximum": 1000000, "description": "Сумма в USD" },
          "currency": { "type": "string", "enum": ["USD"], "default": "USD" },
          "description": { "type": "string", "maxLength": 500, "description": "Описание платежа" },
          "orderId": { "type": "string", "maxLength": 200, "description": "Ваш ID заказа (уникальный)" },
          "metadata": { "type": "string", "maxLength": 2000, "description": "Произвольные данные" }
        }
      },
      "PaymentAddress": {
        "type": "object",
        "properties": {
          "chain": { "type": "string", "example": "ethereum" },
          "address": { "type": "string", "example": "0x..." },
          "expectedAmount": { "type": "string", "description": "Ожидаемая сумма в минимальных единицах" },
          "isToken": { "type": "boolean" },
          "tokenSymbol": { "type": "string", "nullable": true, "example": "USDT" }
        }
      },
      "InvoicePayment": {
        "type": "object",
        "properties": {
          "chain": { "type": "string", "example": "tron:USDT" },
          "amount": { "type": "string" },
          "txHash": { "type": "string", "nullable": true },
          "paidAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateInvoiceResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": {
            "type": "object",
            "properties": {
              "invoiceId": { "type": "string" },
              "payUrl": { "type": "string", "format": "uri", "description": "Ссылка на страницу оплаты" },
              "status": { "type": "string", "enum": ["PENDING"] },
              "amount": { "type": "number", "example": 10.50 },
              "currency": { "type": "string", "example": "USD" },
              "orderId": { "type": "string", "nullable": true },
              "addresses": { "type": "array", "items": { "$ref": "#/components/schemas/PaymentAddress" } },
              "expiresAt": { "type": "string", "format": "date-time" },
              "createdAt": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "ListInvoicesResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "invoices": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "amount": { "type": "number" },
                    "currency": { "type": "string" },
                    "status": { "type": "string", "enum": ["PENDING", "PAID", "EXPIRED", "CANCELLED"] },
                    "orderId": { "type": "string", "nullable": true },
                    "paidChain": { "type": "string", "nullable": true },
                    "paidAt": { "type": "string", "format": "date-time", "nullable": true },
                    "expiresAt": { "type": "string", "format": "date-time" },
                    "createdAt": { "type": "string", "format": "date-time" }
                  }
                }
              },
              "pagination": {
                "type": "object",
                "properties": {
                  "total": { "type": "integer" },
                  "limit": { "type": "integer" },
                  "offset": { "type": "integer" }
                }
              }
            }
          }
        }
      },
      "GetInvoiceResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "invoiceId": { "type": "string" },
              "status": { "type": "string", "enum": ["PENDING", "PAID", "EXPIRED", "CANCELLED"] },
              "amount": { "type": "number" },
              "currency": { "type": "string" },
              "orderId": { "type": "string", "nullable": true },
              "description": { "type": "string", "nullable": true },
              "metadata": { "type": "string", "nullable": true },
              "addresses": { "type": "array", "items": { "$ref": "#/components/schemas/PaymentAddress" } },
              "payment": { "$ref": "#/components/schemas/InvoicePayment", "nullable": true },
              "expiresAt": { "type": "string", "format": "date-time" },
              "createdAt": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "StoreInfoResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "storeId": { "type": "string" },
              "name": { "type": "string" },
              "acceptedChains": { "type": "array", "items": { "type": "string" } },
              "acceptedTokens": { "type": "array", "items": { "type": "string" } },
              "paymentTimeoutMin": { "type": "integer" },
              "webhookUrl": { "type": "string", "nullable": true },
              "stats": {
                "type": "object",
                "properties": {
                  "totalInvoices": { "type": "integer" },
                  "paidInvoices": { "type": "integer" },
                  "totalVolumeUsd": { "type": "number" }
                }
              }
            }
          }
        }
      },
      "WebhookPayload": {
        "type": "object",
        "description": "Тело вебхука. Подпись: HMAC-SHA256(webhookSecret, body) в заголовке X-Tranzor-Signature",
        "properties": {
          "event": { "type": "string", "enum": ["invoice.paid", "invoice.expired"] },
          "invoiceId": { "type": "string" },
          "orderId": { "type": "string", "nullable": true },
          "amountUsd": { "type": "integer", "description": "Сумма в центах" },
          "status": { "type": "string" },
          "paidChain": { "type": "string", "nullable": true },
          "paidAmount": { "type": "string", "nullable": true },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Невалидный запрос",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean", "example": false },
                "error": { "type": "string" }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Не авторизован",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean", "example": false },
                "error": { "type": "string", "example": "Invalid API key" }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Не найдено",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean", "example": false },
                "error": { "type": "string", "example": "Invoice not found" }
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Внутренняя ошибка",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean", "example": false },
                "error": { "type": "string", "example": "Internal server error" }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "invoicePaid": {
      "post": {
        "summary": "Инвойс оплачен",
        "description": "Отправляется на webhookUrl магазина при подтверждении платежа. Подпись в заголовке X-Tranzor-Signature.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WebhookPayload" }
            }
          }
        },
        "responses": {
          "200": { "description": "OK" }
        }
      }
    }
  }
}
